.user-header
  =render "users/new-header-progress"
  .user-header-phone
    =render "users/new-header-progress-1"

.single__phone
  .single__container 
    %h2.head 電話番号の確認
  .single__middle
    .single__middle__content
      .single__middle__content__group
        =form_for @user, url:address_signup_index_path,method: :get do |f|
          %label 携帯電話の番号
          = f.text_field :phone_number,placeholder: "携帯電話の番号を入力",class: "entry"
          - if @user.errors.any?
            - unless @user.valid?
              - if errors = @user.errors.full_messages_for(:phone_number)
                %ul.error
                  - errors.each do |error|
                    %li=error
          %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          =f.submit "SMSを送信する",class:"tap"
          %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .single__middle__content__text
          %a
            電話番号の確認が必要な理由
          %i.icon-arrow-right

  =render "users/new-footer"