.user-footer
  .user-footer__contents
    =link_to "プライバシーポリシー","#", class: "user-footer__contents__privacy-policy"  
    =link_to "メルカリ利用規約","#", class: "user-footer__contents__terms"
    =link_to "特定商取引に関する表記","#", class: "user-footer__contents__transaction" 
  .user-footer__logo
    =link_to "#" do
      =image_tag "logo_gray.png", class: "user-footer__logo__image"
  .user-footer__copywriter
    ©️ 2019 Mercari