=render "users/new-header-progress"
.main
  .rightbar
    .rightbar__header
      支払い方法
    .rightbar__main
      .rightbar__main__contents
        .rightbar__main__contents__num
          .rightbar__main__contents__num__text
            .rightbar__main__contents__num__text__card-num
              カード番号
            .rightbar__main__contents__num__text__must
              必須
          .rightbar__main__contents__num__text-box
            半角数字のみ
          .rightbar__main__contents__num__list
            .rightbar__main__contents__num__list__card-a
              =image_tag '/assets/visa_image.png',class:'image'
            .rightbar__main__contents__num__list__card-b
              =image_tag '/assets/shutterstock_740189848.jpg',class:'image'
            .rightbar__main__contents__num__list__card-c
              =image_tag '/assets/ダウンロード.png',class:'image'
            .rightbar__main__contents__num__list__card-d
              =image_tag '/assets/_JCB-512.png',class:'image'
            .rightbar__main__contents__num__list__card-e
              =image_tag '/assets/601px-American_Express_logo_(2018).svg.png',class:'image'
            .rightbar__main__contents__num__list__card-f
              =image_tag '/assets/st_34top.jpg',class:'image'
            .rightbar__main__contents__num__list__card-g
              =image_tag '/assets/ダウンロード (1).png',class:'image'
          
        .rightbar__main__contents__day
          .rightbar__main__contents__day__text
            .rightbar__main__contents__day__text__card-num
              %label.length 有効期限
              %span.form-require 必須
            .rightbar__main__contents__day__text__detail
              .rightbar__main__contents__day__text__detail__month
                %select{id: "month", class: "select-default"}
                  %option{value: "01"} 01
                  %option{value: "02"} 02
                  %option{value: "03"} 03
                  %option{value: "04"} 04
                  %option{value: "05"} 05
                  %option{value: "06"} 06
                  %option{value: "07"} 07
                  %option{value: "08"} 08
                  %option{value: "09"} 09
                  %option{value: "10"} 10
                  %option{value: "11"} 11
                  %option{value: "12"} 12
                %span 月
              .rightbar__main__contents__day__text__detail__year
                %select{id: "year", class: "select-default2"}
                  %option{value: "19"} 19
                  %option{value: "20"} 20
                  %option{value: "21"} 21
                  %option{value: "22"} 22
                  %option{value: "23"} 23
                  %option{value: "24"} 24
                  %option{value: "25"} 25
                  %option{value: "26"} 26
                  %option{value: "27"} 27
                  %option{value: "28"} 28
                  %option{value: "29"} 29
                %span 年
        .rightbar__main__contents__coad
          .rightbar__main__contents__coad__text
            .rightbar__main__contents__coad__text__card-num
              セキュリティーコード
            .rightbar__main__contents__coad__text__must
              必須
          .rightbar__main__contents__coad__text-box
            カード背面４桁もしくは３桁の番号
          .rightbar__main__contents__coad__text__link
            カード裏面の番号とは?        
        .rightbar__main__contents__send
          =link_to '追加する','#',class:'send'
=render "users/new-footer"
