%asid.advertisement
  .advertisement-image
    .contents
      .contents__detail
        .contents__detail__text-a
          スマホでかんたんフリマアプリ
        .contents__detail__text-b
          今すぐ無料ダウンロード!!
        .contents__detail__link
          =image_tag "logo_red.png",class:"log-red-only"
          =link_to "#",class:"apple" do
            =image_tag "image-apple.png",class:"apple"
          =link_to "#",class:"google" do
            =image_tag "en_badge_web_generic.png",class:"google"
.main-footer
  .main-footer__detail
    .main-footer__detail__fmarket
      =link_to "#",class:"main-footer__detail__fmarket__title" do
        Fmarketについて
      .main-footer__detail__fmarket__texts
        =link_to "#",class:"main-footer__detail__fmarket__texts__text" do
          会社概要(運営会社)
        =link_to "#",class:"main-footer__detail__fmarket__texts__text" do
          採用情報
        =link_to "#",class:"main-footer__detail__fmarket__texts__text" do
          プレスリリース
        =link_to "#",class:"main-footer__detail__fmarket__texts__text" do
          公式ブログ
        =link_to "#",class:"main-footer__detail__fmarket__texts__text" do
          Fmarketロゴ利用ガイドライン
      =link_to "#",class:"main-footer__detail__fmarket__icon" do
        %i.fa.fa-facebook.fa-3x
      =link_to "#",class:"main-footer__detail__fmarket__icon" do
        %i.fa.fa-twitter.fa-3x
    .main-footer__detail__help
      =link_to "#",class:"main-footer__detail__help__title" do
        ヘルプ＆ガイド
      .main-footer__detail__help__texts
        =link_to "#",class:"main-footer__detail__help__texts__text" do
          FMガイド
        =link_to "#",class:"main-footer__detail__help__texts__text" do
          楽々FM便
        =link_to "#",class:"main-footer__detail__help__texts__text" do
          ゆうゆうFM便
        =link_to "#",class:"main-footer__detail__help__texts__text" do
          大型FM便
        =link_to "#",class:"main-footer__detail__help__texts__text" do
          車体取引ガイド
        =link_to "#",class:"main-footer__detail__help__texts__text" do
          FMあんしん・あんぜん宣言！
        =link_to "#",class:"main-footer__detail__help__texts__text" do
          偽ブランド品撲滅への取り組み
        =link_to "#",class:"main-footer__detail__help__texts__text" do
          FMボックス
    .main-footer__detail__privacy-policy
      =link_to "#",class:"main-footer__detail__privacy-policy__title" do
        プライバシーと利用規約
      .main-footer__detail__privacy-policy__text
        .main-footer__detail__privacy-policy__text__privacies
          =link_to "#",class:"main-footer__detail__privacy-policy__text__privacies__privacy" do
            プライバシーポリシー
          =link_to "#",class:"main-footer__detail__privacy-policy__text__privacies__privacy" do
            FM利用規約
          =link_to "#",class:"main-footer__detail__privacy-policy__text__privacies__privacy" do
            あんしんスマホサポート制度に関する利用規約
          =link_to "#",class:"main-footer__detail__privacy-policy__text__privacies__privacy" do
            コンプライアンスポリシー
        .main-footer__detail__privacy-policy__texts__terms
          =link_to "#",class:"main-footer__detail__privacy-policy__text__terms__a" do
            個人データの安全管理に係る基本方針
          =link_to "#",class:"main-footer__detail__privacy-policy__text__terms__a" do
            特定商取引に関する表記
          =link_to "#",class:"main-footer__detail__privacy-policy__text__terms__a" do
            資金決済法に基づく表示
          =link_to "#",class:"main-footer__detail__privacy-policy__text__terms__a" do
            法令順守と犯罪抑止のため
    .main-footer__detail__country
      =link_to "#",class:"main-footer__detail__country__titile" do
        国
      .main-footer__detail__country__detail
        =link_to "#",class:"main-footer__detail__country__detail__name" do
          日本
        =link_to "#",class:"main-footer__detail__country__detail__name" do
          United States
  .main-footer__end
    =link_to root_path,class:"main-footer__end__log" do
      =image_tag "logo_white.png",class:"main-footer__end__log"
    .main-footer__end__copy
      ©️Fmerket