%li.main-detail__category-item__list__contents__detail
  =link_to "#",class:"main-detail__category-item__list__contents__detail__content" do
    .main-detail__category-item__list__contents__detail__content__aline
      .main-detail__category-item__list__contents__detail__content__aline__image
        =image_tag "7e410cf91919c3cab382d6daa4f55454_t.png",class:"image"
        .main-detail__category-item__list__contents__detail__content__aline__image__fee
          ¥9,999,999
      .main-detail__category-item__list__contents__detail__content__aline__text
        未使用筋肉