- @items.each do |item|
  %li.main-detail__category-item__list__contents__detail
    =link_to item_path(item.id), class:"main-detail__category-item__list__contents__detail__content" do
      .main-detail__category-item__list__contents__detail__content__aline
        .main-detail__category-item__list__contents__detail__content__aline__image
          = image_tag item.item_images.first.image.url.to_s,class:"image"
          .main-detail__category-item__list__contents__detail__content__aline__image__fee
            = converting_to_jpy(item.price)
          -if item.purchaser_id.present?
            .main-detail__category-item__list__contents__detail__content__aline__sold
              .main-detail__category-item__list__contents__detail__content__aline__sold__inner
                SOLD
        .main-detail__category-item__list__contents__detail__content__aline__text
          = item.name