-# トップページ
=link_to new_item_path do
  .main-page__send-btn
    .main-page__send-btn__detail
      出品
      %i.fa.fa-camera.fa
=render "items/header"
.swiper-containers
  = image_tag "D220-1.jpg",class:"swiper-containers__image"
.main-detail
  .main-detail__category
    .main-detail__category__title
      .main-detail__category__title__theme
        人気のカテゴリー
      .main-detail__category__title__method
        =link_to "#",class:"main-detail__category__title__method__name" do
          上腕二頭筋
        =link_to "#",class:"main-detail__category__title__method__name" do
          胸筋
        =link_to "#",class:"main-detail__category__title__method__name" do
          僧帽筋
        =link_to "#",class:"main-detail__category__title__method__name" do
          背筋
  .main-detail__category-item
    .main-detail__category-item__title
      .main-detail__category-item__title__name
        新着きんにく
      =link_to "#",class:"main-detail__category-item__title__see-more" do
        もっと見る
    .main-detail__category-item__list
      %ul.main-detail__category-item__list__contents
        =render partial: "items/index-item", collection: @items
  .main-detail__bland
    .main-detail__bland__title
      .main-detail__bland__title__theme
        人気のブランド
      .main-detail__bland__title__method
        =link_to "#",class:"main-detail__bland__title__method__name" do
          ザバス
        =link_to "#",class:"main-detail__bland__title__method__name" do
          エクスプロージョン
        =link_to "#",class:"main-detail__bland__title__method__name" do
          be LEGEND
        =link_to "#",class:"main-detail__bland__title__method__name" do
          バルクスポーツ
  .main-detail__bland-item
    .main-detail__bland-item__title
      .main-detail__bland-item__title__name
        新着プロテイン
      =link_to "#",class:"main-detail__bland-item__title__see-more" do
        もっと見る
    .main-detail__bland-item__list
      %ul.main-detail__bland-item__list__contents
        =render partial: "items/index-bland", collection: @items
=render "items/footer"