-# トップページ
- if user_signed_in?
  =link_to new_item_path do
    .main-page__send-btn
      .main-page__send-btn__name
        出品
      .main-page__send-btn__detail
        %i.fa.fa-camera.fa
- else
  =link_to new_user_path do
    .main-page__send-btn
      .main-page__send-btn__name
        出品
      .main-page__send-btn__detail
        %i.fa.fa-camera.fa
=render partial: "items/header"
.swiper-containers
  = image_tag "grand-canyon-1839279_1920.jpg",class:"swiper-containers__image"
.main-detail
  .main-detail__category
    .main-detail__category__title
      .main-detail__category__title__theme
        人気のカテゴリー
      .main-detail__category__title__method
        =link_to "#",class:"main-detail__category__title__method__name" do
          メンズ
        =link_to "#",class:"main-detail__category__title__method__name" do
          レディース
        =link_to "#",class:"main-detail__category__title__method__name" do
          家電・スマホ・カメラ
        =link_to "#",class:"main-detail__category__title__method__name" do
          おもちゃ・ホビー・グッズ
  .main-detail__category-item
    .main-detail__category-item__title
      .main-detail__category-item__title__name
        新着アイテム
      =link_to "#",class:"main-detail__category-item__title__see-more" do
        もっと見る
    .main-detail__category-item__list
      %ul.main-detail__category-item__list__contents
        =render partial: "items/index-item"
  .main-detail__bland
    .main-detail__bland__title
      .main-detail__bland__title__theme
        人気のブランド
      .main-detail__bland__title__method
        =link_to "#",class:"main-detail__bland__title__method__name" do
          シャレル
        =link_to "#",class:"main-detail__bland__title__method__name" do
          レイヴィトン
        =link_to "#",class:"main-detail__bland__title__method__name" do
          シュリーム
        =link_to "#",class:"main-detail__bland__title__method__name" do
          ネイキ
  .main-detail__bland-item
    .main-detail__bland-item__title
      .main-detail__bland-item__title__name
        新着アイテム
      =link_to "#",class:"main-detail__bland-item__title__see-more" do
        もっと見る
    .main-detail__bland-item__list
      %ul.main-detail__bland-item__list__contents
        =render partial: "items/index-bland"
=render partial: "items/footer"