// 商品購入確認画面 items/edit(仮)
.buy {
  
  &__title {
    margin-right: auto;
    margin-left : auto;
    background-color: #fff;
    width: 700px;
    font-size: 22px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-weight: 600;
  }
  &__item {
    margin-right: auto;
    margin-left : auto;
    background-color: #fff;
    width: 700px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 50px;
    &__content {
      height: 81px;
      max-width: 320px;
      margin: 0 auto;
      padding: 32px 16px;
      display: flex;
      &__image {
        &__photo {
          height: 80px;
          width: 80px;
        }
      }
      &__titel{
        height: 80px;
        width: 215px;
        margin-left: 16px;
        &__name {
          font-size: 14px;
          height: 24px;
          &__number {
            font-size: 14px;
            width: 100px;
            font-weight: 600;
          }
          &__postage {
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
    }
    &__point {
      width: 320px;
      height: 50px;
      margin: 0 auto;
      background-color: #ccc;
      color: black;
      text-align: center;
      line-height: 50px;
    }
    &__total {
      width: 320px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px 0;
      display: flex;
      &__pay {
        font-size: 16px;
        font-weight: 580;
        padding-top: 5px;
        width: 203px;
      }
      &__price {
        font-size: 25px;
        font-weight: 580;
        float: right;
      }
    }
    &__red {
      width: 320px;
      height: 50px;
      margin: 0 auto;
      background-color:#ea352d;
      text-align: center;
      line-height: 50px
    }  
    a{color :#fff;
    }
  }
  &__delivery {
    margin-right: auto;
    margin-left : auto;
    background-color: #fff;
    width: 700px;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 50px;
    &__text {
      width: 320px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px 0 5px;
      font-weight: 580;
    }
    &__user {
      width: 320px;
      margin: 0 auto;
      background-color: #fff;
      line-height: 1.4;
      &__edit {
        text-align: right;
     }
    }
  }
  &__credit {
    margin-right: auto;
    margin-left : auto;
    background-color: #fff;
    width: 700px;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 50px;
    &__text {
      width: 320px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px 0 5px;
      font-weight: 580;
    }
    &__user {
      width: 320px;
      margin: 0 auto;
      background-color: #fff;
      line-height: 1.4;
      &__card{
        width: 20px;
        height: 20px;
      }
      &__edit {
        text-align: right;
     }
    }
  }
}