//ログアウト
.mypage-logout {
  width: 1020px;
  height: 1189px;
  margin: 40px auto 0;
  //右側
  &__right {
    float: right;
    width: 572px;
    height: 51px;
    padding: 64px;
    background: #fff;

      a {color: #fff;
      }

      &__btn {
        width: 320px;
        height: 50px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
        background-color: #ea352d;
        &__out {
          width: 320px;
          height: 50px;
        }
      }
  }
}