//マイページ
.html, body {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
  padding-bottom: 40px;
  a {
    text-decoration: none;
  }
}
  //上部
  .mypage-header {
    height: 48px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    
    a{color: #333;
    }

    &__list {
      height: 16px;
      width: 1020px;
      margin: 0 auto;
      padding: 16px 0;
      display: flex;
      font-size: 14px;
      &__itemscope {
        color: #333;
      }
    }
  }

  //メイン
  .mypage-main {
    width: 1020px;
    height: 1189px;
    margin: 40px auto 0;
    //右側
    &__right {
      float: right;

      a{color: #333;
      }

      &__user {
        width: 660px;
        height: 160px;
        padding: 20px;
        background-image: url("/assets/mypage.jpg");
        &__main {
          width: 660px;
          height: 111px;
          position: absolute;
          color: #333;
          top: 240px;
          font-size: 14px;
          &__icon {
            overflow: hidden;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border-radius: 50%;
            background-image: url("/assets/mypage.icon.jpg");
            }
          &__name {
            height: 19px;
            margin: 8px 0 0;
            text-align: center;
          }
          &__count {
            width: 660px;
            height: 16px;
            margin: 8px 0 0;
            text-align: center;
          }
        }
      }
      //右側お知らせから下
      &__todo {
        background: #fff;
        &__tab {
          height: 72px;
          display: flex;
          text-align: center;
          line-height: 79px;
          &__news1 {
            width: 350px;
            background: #fff;
            border-top: 2px solid #ea352d;
          }
          &__news2 {
            width: 350px;
            background: #eee;
          }
          &__list {
            width: 350px;
            height: 79px;
          }
        }
        &__content {
          height: 236px;
          text-align: center;
          line-height: 300px;
          background: #fff;
          }
          &__active {
            height: 170px;
            width: 170px;
            margin-top: 30px;
          }
      }
      &__buy {
        height: 382px;
        margin: 40px 0 0;
        &__head {
          height: 72px;
          padding: 0 16px;
          line-height: 72px;
          background: #fafafa;
        }
      }
    }

    //左側
    &__left {
      width: 280px;
      float: left;
      margin: 0 40px 40px 0;
      
      a{color: #333;
      }

      &__nav {
        &__list {
          background: #fff;
          &__item {
            height: 15px;
            padding: 16px;
            font-size: 14px;
            border-block-end: 1.45px solid #f5f5f5;
          }
        }
        &__head {
        width: 258px;
        margin: 40px 11px 0 11px;
        font-size: 16px;
        }
      }
    }
  }