.container {
  background-color:#eeeeee;

  .header {
    height: 128px;
    text-align: center;

    &__logo {
      width: 185px;
      height: 49px;
      margin-top: 40px;
    }
  }

  .user-new__main {
    background-color: #fff;
    width: 650px;
    margin: 0 auto;

    &__header {
      font-size: 22px;
      font-weight: bold;
      padding: 32px 16px;
      text-align: center;
    }

    &__main {
      border-top: 1px solid #eee;
      padding: 16px 24px 40px;

      &__content {
        margin: 0 auto;
        width: 343px;

        &__mail-address {
          background-color: #ea352d;
          color: #fff;
          width: 100%;
          height: 46px;
          line-height: 46px;
          border: 1px solid #ea352d;
          border-radius: 4px;
          display: block;

          &__icon {
            margin-left: 18px;
            display: inline-block;
          }

          &__text {
            margin-left: 38px;
            display: inline-block;
          }
        }

        &__facebook {
          margin-top: 16px;
          background-color: #385185;
          color: #fff;
          width: 100%;
          height: 46px;
          line-height: 46px;
          border: 1px solid #385185;
          border-radius: 4px;
          display: block;

          &__icon {
            font-size: 20px;
            margin-left: 18px;
            display: inline-block;
          }

          &__text {
            margin-left: 56px;
            display: inline-block;
          }
        }

        &__google {
          margin-top: 16px;
          background-color: #fff;
          color: #333;
          width: 100%;
          height: 46px;
          line-height: 46px;
          border: 1px solid #979797;
          border-radius: 4px;
          display: block;

          &__icon {
            color: green;
            margin-left: 18px;
            display: inline-block;
          }

          &__text {
            margin-left: 68px;
            display: inline-block;
          }
        }
      }
    }
  }

  .user-footer{
    width: 100%;
    background-color:#eeeeee;
    height: 180px;
    text-align: center;
    padding-top:151px;
    position: absolute;
    &__contents{
      font-size: 12px;
      &__terms{
        padding: 0 0 0 16px;
      }
      &__transaction{
        padding: 0 0 0 16px;
      }
    }
    &__logo{
      line-height: 128px;
      height: 100px;
      &__image{
      margin-top: 30px;
      height: 65px;
      width: 70px;
      }
    }
    &__copywriter {
      font-size: 10px;
    }
    a{color: #333;
    }
  }
}
   